<div ng-controller="zaposleniKontroler">
	<form name="addLinijaForm" action="/">
		<table border="1"  cellpadding="5">
			<div>
				<tr>
					<td>Broj: </td>
					<td><input type="text" id="broj" ng-model="linija.broj" pattern="\d+" required></td>
				</tr>
				<tr>
					<td>Naziv: </td>
					<td><input type="text" id="naziv" ng-model="linija.naziv" required></td>
				</tr>
				<tr>
					<td align="center">Stajalista:</td>
					<td align="center">
						<select style="float: left; clear: both;" ng-repeat="field in stajalistaFields.fields track by $index" ng-model="stajalistaFields.fields[$index]">
							<option ng-repeat="stajaliste1 in stajalista" value="{{stajaliste1}}">{{stajaliste1.naziv}}</option>
						</select>
					</td>
					<td><button type="button" ng-click="addStajalisteField()">+</button></td>
				</tr>
				<tr>
					<td align="center">Polasci:</td>
					<td align="center">
						<select style="float: left; clear: both;" ng-repeat="field in polasciFields.fields track by $index" ng-model="polasciFields.fields[$index]">
							<option ng-repeat="polazak1 in polasci" value="{{polazak1}}">{{polazak1.vreme + " " + polazak1.dan}}</option>
						</select>
					</td>
					<td><button type="button" ng-click="addPolazakField()">+</button></td>
				</tr>
				<tr><td>Vozilo:</td><td>
				<select id="tip" ng-model="linija.tip" required>
					<option value="autobus">autobus</option>
					<option value="tramvaj">tramvaj</option>
					<option value="metro">metro</option>
				</select></td></tr>
				<tr><td></td><td><button ng-disabled="addLinijaForm.$invalid" type="button" class='btn btn-default' ng-click="submitLinija()">Dodaj</button></td></tr>
			</div>
		</table>
	</form>
</div>