<div ng-controller="zaposleniKontroler">
		<h2>Pregled korisnika</h2>
		
		<form name="korisnikDetailsForm" action="/">
			<table border="1" cellpadding="5">
				<tr><td>Ime: </td><td>{{detailViewKorisnik.ime}}</td></tr>
				<tr><td>Prezime: </td><td>{{detailViewKorisnik.prezime}}</td></tr>
				<tr><td>Email: </td><td>{{detailViewKorisnik.email}}</td></tr>
				<tr><td>Tip korisnika: </td><td>
					<select id="dan"ng-model="detailViewKorisnik.tip" required>
						<option value="gradjanin">Gra&dstrok;anin</option>
						<option value="ucenik">U&ccaron;enik</option>
						<option value="penzioner">Penzioner</option>
					</select></td></tr>
				<tr><td align="center"><button type="button" class='btn btn-default' ng-click="back()">Nazad</button>
				<td align="center"><button type="button" class='btn btn-default' ng-click="updateTipKorisnika(detailViewKorisnik)">A&zcaron;uriraj</button></td></tr>
			</table>
		</form>
</div>