<div ng-controller="prijavaKontroler">
	<h2>Prijava</h2>
	<form name="prijavaForma" action="/">
  		Email:<br>
  		<input type="email" name="email" id="email" ng-model="korisnik.email" required><br>
  		Lozinka:<br>
  		<input type="password" name="lozinka1" id="lozinka" ng-model="korisnik.lozinka" required><br><br>
  		<button ng-disabled="prijavaForma.$invalid" type="button" name="regButton" class='btn btn-default' ng-click="prijava(korisnik)">Prijava</button>
	</form>
	<h2 id="error" style="color:red"></h2>
</div>