<div  ng-controller="indexKontroler">
	<form name="displayLinijaForm" action="/">
		<table border="1"  cellpadding="5">
			<div>
				<tr>
					<td>
						<select id="linija1" ng-model="selektovanaLinija">
							<option ng-repeat="linija in linije" value="{{linija}}">{{linija.naziv}}</option>
						</select>
					</td>
					<td>
						<select id="dan" ng-model="selektovaniDan">
							<option value="Radni dan">radni dan</option>
							<option value="Subota">subota</option>
							<option value="Nedelja">nedelja</option>
						</select>
					</td>
					<td>
						<button ng-disabled="displayLinijaForm.$invalid" type="button" class='btn btn-default' ng-click="submitLinijaDisplay()">Prikazi</button>
					</td>
				</tr>
			</div>
		</table>
	</form>
	<span>
    <span ng-map style="width:1000px;height:500px;float:left;" center="45.267136, 19.833549"></span>
    
    <table border="1"  cellpadding="5">
    	<tr>
    		<td align="center">
    			Polasci:
    		</td>
    	</tr>
    	<tr ng-repeat="polazak in polasciZaPrikazTemp">
			<td align="center">{{polazak.vreme}}</td>
		</tr>
    </table>
    </span>
</div>