<div  ng-controller="indexKontroler">

	<!--<div style="float: left; width: 50%;">
		<button style="width:110px;height:30px;" type="button" class='btn btn-default' ng-hide="korisnik.tip" ng-click="login()">Prijava</button>
	</div>
    <div style="float: left; width: 50%;">
    	<button style="width:110px;height:30px;" type="button" class='btn btn-default' ng-hide="korisnik.tip" ng-click="registracija()">Registracija</button>
    </div>
    <div style="float: left; width: 50%;">
    	<button style="width:110px;height:30px;" type="button" class='btn btn-default' ng-show="korisnik.tip" ng-click="odjava()">Odjava</button>
    </div>-->
    
    <br><br>
    
    <h3>Linija i dan:</h3>
    
	<form name="displayLinijaForm" action="/">
		<table border="1" cellpadding="5">
			<div>
				<tr>
					<td>
						<select id="linija1" ng-model="selektovanaLinija">
							<option ng-repeat="linija in linije | orderBy:'broj'" value="{{linija}}">{{linija.broj+" "+linija.naziv}}</option>
						</select>
					</td>
					<td>
						<select id="dan" ng-init="selektovaniDan = 'Radni dan'" ng-model="selektovaniDan">
							<option value="Radni dan">Radni dan</option>
							<option value="Subota">Subota</option>
							<option value="Nedelja">Nedelja</option>
						</select>
					</td>
					<td>
						<button ng-disabled="displayLinijaForm.$invalid" style="width:70px;height:25px;" type="button" class='btn btn-default' ng-click="submitLinijaDisplay()">Prika&zcaron;i</button>
					</td>
				</tr>
			</div>
		</table>
	</form>
	<span>
	
	<br><br>
	
    <span ng-map style="width:1000px;height:500px;float:left;" center="45.267136, 19.833549"></span>
    
    <table border="1"  cellpadding="5">
    	<tr>
    		<td align="center">
    			Polasci:
    		</td>
    	</tr>
    	<tr ng-repeat="polazak in polasciZaPrikazTemp">
			<td align="center">{{polazak.vreme}}</td>
		</tr>
    </table>
    </span>
</div>